.home table {
  justify-self: center;
  tr {
    text-align: center;
  }
}
.home {
  a {
    text-decoration-line: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

.homeUl {
  ul {
    display: flex;
    list-style: none;
    li {
      padding-right: 40px;
    }
  }
}

.productCatalog {
  text-align: left !important;
  td {
    padding: 5px 0px 5px 20px;
  }
}

.slider {
  position: relative;
  width: 760px;
  height: 250px;
}
.fade {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1.5s ease-in-out;
}

.active {
  opacity: 1;
}
