.product table {
  justify-self: center;
  tr {
    text-align: center;
  }
}
.product {
  a {
    text-decoration-line: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

.productUl {
  ul {
    display: flex;
    list-style: none;
    li {
      padding-right: 40px;
    }
  }
}

.productCatalog {
  text-align: left !important;
  td {
    padding: 5px 0px 5px 20px;
  }
}
