.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 131px;
  background-color: #fffff0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .address {
    text-align: right;
    margin: 10px 0px 5px 0px;
    line-height: 1.2;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-top: 0px;

    li {
      margin-inline: 3px;
      width: 100px;
      padding: 5px;
      background-color: blue;
      text-align: center;
      color: white;
      text-decoration: auto;
      font-weight: bold;
    }
  }
  a {
    text-decoration-line: none;
    li:hover {
      color: blue;
      background: linear-gradient(#9198e5, white);
    }
  }
}
